{% load static %}


{#DASHBOARD#}
<li class="nav-item">
    <a class="nav-link dropdown-toggle arrow-none" href="{% url 'admins:dashboard' %}">
        <i class="bx bx-home-circle mr-2"></i>Admin Dashboard
    </a>
</li>

{#DASHBOARD#}
<li class="nav-item">
    <a class="nav-link dropdown-toggle arrow-none" href="{% url 'admins:parcel-search' %}">
        <i class="fa fa-search mr-2"></i>Tracking
    </a>
</li>

{#DASHBOARD#}
<li class="nav-item">
    <a class="nav-link dropdown-toggle arrow-none" href="{% url 'admins:parcel' %}">
        <i class="fa fa-check-circle mr-2"></i>Parcel
    </a>
</li>

{#DASHBOARD#}
<li class="nav-item">
    <a class="nav-link dropdown-toggle arrow-none" href="{% url 'admins:user' %}">
        <i class="fa fa-user mr-2"></i>Users
    </a>
</li>

{#DASHBOARD#}
<li class="nav-item">
    <a class="nav-link dropdown-toggle arrow-none" href="/admin/">
        <i class="fa fa-code mr-2"></i>Root
    </a>
</li>


{# ------------------------------------------------------------------------------------------------------------------ #}