{% load static %}


<li class="nav-item">
    <a class="nav-link dropdown-toggle arrow-none" href="{% url 'admins:dashboard' %}">
        <i class="bx bx-home-circle mr-2"></i>Dashboard
    </a>
</li>
<li class="nav-item">

    {% if request.user.is_superuser %}
        <a class="nav-link dropdown-toggle arrow-none" href="{% url 'admins:parcel-search' %}">
            <i class="bx bx-home-circle mr-2"></i>Parcel Search
        </a>
    {% else %}
        <a class="nav-link dropdown-toggle arrow-none" href="{% url 'customer:parcel-search' %}">
            <i class="bx bx-home-circle mr-2"></i>Parcel Search
        </a>    {% endif %}
</li>

<li class="nav-item">

    {% if request.user.is_superuser %}
        <a class="nav-link dropdown-toggle arrow-none" href="{% url 'admins:parcel' %}">
            <i class="bx bx-home-circle mr-2"></i>Parcels
        </a>
    {% else %}
        <a class="nav-link dropdown-toggle arrow-none" href="{% url 'customer:parcel' %}">
            <i class="bx bx-home-circle mr-2"></i>Parcels
        </a>    {% endif %}
</li>

<li class="nav-item">
    {% if request.user.is_superuser %}
        <a class="nav-link dropdown-toggle arrow-none" href="/a/user/customers/">
            <i class="bx bx-home-circle mr-2"></i>Customers
        </a>
    {% endif %}
</li>

<li class="nav-item">
    {% if request.user.is_superuser %}
        <a class="nav-link dropdown-toggle arrow-none" href="/a/user/managers/">
            <i class="bx bx-home-circle mr-2"></i>Service Managers
        </a>
    {% endif %}
</li>

<li class="nav-item">
    {% if request.user.is_superuser %}
        <a class="nav-link dropdown-toggle arrow-none" href="/a/user/postmen/">
            <i class="bx bx-home-circle mr-2"></i>Postmen
        </a>
    {% endif %}
</li>


{# ------------------------------------------------------------------------------------------------------------------ #}