{% load static %}


{#DASHBOARD#}
<li class="nav-item">

    {% if request.user.is_superuser %}
        <a class="nav-link dropdown-toggle arrow-none" href="{% url 'admins:parcel-search' %}">
            <i class="bx bx-home-circle mr-2"></i>Parcel Search
        </a>
    {% else %}
        <a class="nav-link dropdown-toggle arrow-none" href="{% url 'customer:parcel-search' %}">
            <i class="bx bx-home-circle mr-2"></i>Parcel Search
        </a>    {% endif %}
</li>

{#DASHBOARD#}
<li class="nav-item">

    {% if request.user.is_superuser %}
        <a class="nav-link dropdown-toggle arrow-none" href="{% url 'admins:parcel' %}">
            <i class="bx bx-home-circle mr-2"></i>Parcels
        </a>
    {% else %}
        <a class="nav-link dropdown-toggle arrow-none" href="{% url 'customer:parcel' %}">
            <i class="bx bx-home-circle mr-2"></i>Parcels
        </a>    {% endif %}
</li>

{#DASHBOARD#}
<li class="nav-item">
    {% if request.user.is_superuser %}
        <a class="nav-link dropdown-toggle arrow-none" href="{% url 'admins:user' %}">
            <i class="bx bx-home-circle mr-2"></i>Users
        </a>
    {% endif %}
</li>


{# ------------------------------------------------------------------------------------------------------------------ #}