{% load static %}
<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Post Man</title>
    <link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <style>

        body {
            background-image: url("https://wallpapercave.com/wp/wp10424330.jpg");
            background-size: cover;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/5.1/examples/cover/cover.css" rel="stylesheet">
</head>
<body class="d-flex h-100 text-center text-white bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <header class="mb-auto">
        <div>
            <h3 class="float-md-start mb-0">POST</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="{% url 'accounts:cross-auth-view' %}">Login</a>
            </nav>
        </div>
    </header>

    <main class="px-3">
        <form method="get">
            <div class="input-group">

                <input type="text" id="search" name="search" class="form-control" placeholder="Parcel ID here">
                <button type="submit" class="btn btn-primary">Search</button>

            </div>
        </form>

        {% if parcel %}
            <div class="" style="text-align: left;">
                <p class="text-left border mt-2 p-2">
                    <b class="text-success">sender <i class="fa fa-check-circle"></i></b> >
                    <b class="text-success">Location <i class="fa fa-check-circle"></i></b> >
                    {% if parcel.postman %}
                        <b class="text-success">Postman <i class="fa fa-check-circle"></i></b>
                        {% if parcel.is_active %}
                            <b class="text-danger">Receiver <i class="fa fa-times-circle"></i></b>
                        {% else %}
                            <b class="text-success">Receiver <i class="fa fa-check-circle"></i></b>
                        {% endif %}
                    {% else %}
                        <b class="text-danger">Postman <i class="fa fa-times-circle"></i></b>
                        <b class="text-danger">Receiver <i class="fa fa-times-circle"></i></b>
                    {% endif %}
                </p>
            </div>
        {% endif %}
    </main>

    <footer class="mt-auto text-white-50">
        <p>copyright 2022-{% now 'Y' %} - <a href="#" class="text-white">Post Man</a></p>
    </footer>
</div>


</body>
</html>
