{% extends 'core/base.html' %}
{% load custom_tags %}

{% block base_title %}
    Find a Parcel
{% endblock %}

{% block page_heading %}
    Find a Parcel
{% endblock %}

{% block content %}



    <div class="row justify-content-center">
        <div class="col-6">

            <div class="card">
                <div class="card-body">
                    <form method="get">
                        <input class="form-control" type="search" id="search" name="search"
                               placeholder="Enter tracking ID"><br>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-magnet"></i> Search</button>
                    </form>
                    <br>
                    {% if parcel %}
                        <div>
                            <p>
                                <b><a href="#">{{ parcel.sender }}</a></b> >
                                <b><a href="#">{{ parcel.dispatchLocation }}</a></b> >
                                <b><a href="#">{{ parcel.postman }}</a></b> >
                                <b><a href="#">{{ parcel.receiver }}</a></b>
                            </p>
                        </div>
                    {% endif %}

                </div>
            </div>

        </div>
    </div>


{% endblock %}

