{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block base_title %}
    Add Admin
{% endblock %}


{% block content %}

    {# SAME FOR ALL #}
    <div class="row justify-content-center">
        <div class="col-6">
            <h4>Add new service manager</h4>
            <div class="card mt-3">
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <input required id="name" name="name" class="form-control mb-2" type="text" placeholder="Name">
                        <input id="email" name="email" class="form-control mb-2" type="text" placeholder="Email">
                        <input required id="city" name="city" class="form-control mb-2" type="text" placeholder="City">
                        <input required id="postal_code" name="postal_code" class="form-control mb-2" type="number"
                               placeholder="Postal Code">
                        <div>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-user-plus"></i> Create
                            </button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>

{% endblock %}