{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block base_title %}
    Add/Update Parcel
{% endblock %}


{% block content %}

    {# SAME FOR ALL #}
    <div class="row justify-content-center">
        <div class="col-sm-8">

            <div class="card">
                <div class="card-body border-bottom">
                    <p class="card-title">Add New Parcel</p>
                </div>

                <div class="card-body">

                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="col-12">
                            <button type="submit" id="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body border-bottom">
                    <p class="card-title">Add New User</p>
                </div>
                <div class="card-body">
                    <form action="{% url 'admins:add-user' %}" method="post">
                        {% csrf_token %}
                        <input required id="phone" name="phone" class="form-control mb-2" type="number"
                               placeholder="Phone">
                        <input required id="name" name="name" class="form-control mb-2" type="text" placeholder="Name">
                        <input required id="cnic" name="cnic" class="form-control mb-2" type="number"
                               placeholder="CNIC">
                        <input id="email" name="email" class="form-control mb-2" type="email"
                               placeholder="Email (Optional)">
                        <textarea required id="address" name="address" class="form-control mb-2"
                                  placeholder="Address"></textarea>
                        <input required id="city" name="city" class="form-control mb-2" type="text" placeholder="city">
                        <div>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-user-plus"></i> Create
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block base_internal_scripts %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}


{% block base_external_scripts %}
    <script>
        $(document).ready(function () {

            const sender = $('#id_sender');
            const receiver = $('#id_receiver');

            const receiver_hint = document.getElementById("hint_id_receiver");
            const sender_hint = document.getElementById("hint_id_sender");

            const userError = $('#user-error');
            const postal_code = $('#id_postal_code');
            const postal_charges = $('#id_postal_charges');

            $(postal_charges).val('');
            postal_charges.focus();
            userError.hide();
            let checking_sender = true;

            sender.blur(function () {
                checking_sender = true;
                if ($(this).val() === $(receiver).val()) {
                    $(sender)[0].setCustomValidity("Sender and Receiver cannot be same!");
                    $(sender)[0].reportValidity();
                    $(sender)[0].style.borderColor = "red";
                    $(sender).val('');
                    sender.focus();
                    return;
                }
                get_c_api_call_user_exists('/a/json/user/' + $(this).val() + '/exists/')
            });

            postal_code.blur(function () {
                $.get('/a/json/city/' + $(this).val() + '/exists/', function (data) {
                    if (data.flag === true) {

                    } else {
                        postal_code.focus();

                    }
                });
            });

            receiver.blur(function () {
                checking_sender = false;
                if ($(this).val() === $(sender).val()) {
                    $(receiver)[0].setCustomValidity("Sender and Receiver cannot be same!");
                    $(receiver)[0].reportValidity();
                    $(receiver)[0].style.borderColor = "red";
                    $(receiver).val('');
                    receiver.focus();
                    return;
                }
                get_c_api_call_user_exists('/a/json/user/' + $(this).val() + '/exists/')
            });

            function get_c_api_call_user_exists(url) {
                $.get(url, function (data) {
                    message_generator(data.flag, data.postal_code, data.username)
                });
            }

            function message_generator(is_successful, postal_code_, username) {
                if (is_successful === true) {
                    if (checking_sender) {
                        $(sender)[0].style.borderColor = "#67C55C";
                        sender_hint.style.color = "#67C55C";
                        sender_hint.innerHTML = "Username -> " + username;
                    } else {
                        $(receiver)[0].style.borderColor = "#67C55C";
                        $(postal_code).val(postal_code_);
                        receiver_hint.style.color = "#67C55C";
                        receiver_hint.innerHTML = "Username -> " + username;
                    }
                } else {
                    if (checking_sender) {
                        $(sender)[0].setCustomValidity("User not available with this cnic!");
                        $(sender)[0].reportValidity();
                        $(sender)[0].style.borderColor = "red";
                        sender_hint.style.color = "red";
                        sender_hint.innerHTML = "User not available with this cnic!";
                        $(sender).val('');
                        sender.focus()
                    } else {
                        $(receiver)[0].setCustomValidity("User not available with this cnic!");
                        $(receiver)[0].reportValidity();
                        $(receiver)[0].style.borderColor = "red";
                        receiver_hint.style.color = "red";
                        receiver_hint.innerHTML = "User not available with this cnic!";
                        $(receiver).val('');
                        receiver.focus()
                    }

                }
            }
        });
    </script>
{% endblock %}